# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development
PRIVATE_KEY=
PULL_INTERVAL=3600
JOB_TIMEOUT=60
MAX_CONCURRENT=10
MAX_IN_QUEUE=1000
CONFIG_FILENAME=pull.yml
DEFAULT_MERGE_METHOD=hardreset
DISABLE_DELAY=
DISABLE_STATS=

# The ID of an OAuth App for making unauthenticated calls (Workaround)
CLIENT_ID=
CLIENT_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Relative path of the webhook
WEBHOOK_PATH=/webhook

# Log to remote syslog server
SYSLOG_UDP_HOST=
SYSLOG_UDP_HOST=

# Log errors to Sentry
SENTRY_DSN=
